# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log

# LocalStack
localstack_data/

# FFmpeg
src/lambda_720p/ffmpeg
src/lambda_480p/ffmpeg

# Video files
*.mp4
*.mov

# Zip files
*.zip

# IDE & System
.vscode/
.idea/
.DS_Store
Thumbs.db